-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: agri_services_db
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `coffee_type`
--

DROP TABLE IF EXISTS `coffee_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coffee_type` (
  `coffeeID` varchar(10) NOT NULL,
  `c_type` varchar(50) NOT NULL,
  PRIMARY KEY (`coffeeID`),
  UNIQUE KEY `uq_coffee_type` (`c_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coffee_type`
--

LOCK TABLES `coffee_type` WRITE;
/*!40000 ALTER TABLE `coffee_type` DISABLE KEYS */;
INSERT INTO `coffee_type` VALUES ('C01','Arabica'),('C03','Hybrid'),('C02','Robusta');
/*!40000 ALTER TABLE `coffee_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `district`
--

DROP TABLE IF EXISTS `district`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `district` (
  `districtID` varchar(10) NOT NULL,
  `di_name` varchar(100) NOT NULL,
  `regionID` varchar(10) NOT NULL,
  PRIMARY KEY (`districtID`),
  KEY `fk_dist_region` (`regionID`),
  CONSTRAINT `fk_dist_region` FOREIGN KEY (`regionID`) REFERENCES `region` (`regionID`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `district`
--

LOCK TABLES `district` WRITE;
/*!40000 ALTER TABLE `district` DISABLE KEYS */;
INSERT INTO `district` VALUES ('D01','Mukono','R01'),('D02','Wakiso','R01'),('D03','Kasese','R02'),('D04','Mbarara','R02'),('D05','Mbale','R03'),('D06','Soroti','R03');
/*!40000 ALTER TABLE `district` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `extension_worker`
--

DROP TABLE IF EXISTS `extension_worker`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `extension_worker` (
  `extWorkerNIN` varchar(20) NOT NULL,
  `specialty` varchar(100) DEFAULT NULL,
  `regionID` varchar(10) NOT NULL,
  PRIMARY KEY (`extWorkerNIN`),
  KEY `fk_ew_region` (`regionID`),
  CONSTRAINT `fk_ew_person` FOREIGN KEY (`extWorkerNIN`) REFERENCES `person` (`NIN`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_ew_region` FOREIGN KEY (`regionID`) REFERENCES `region` (`regionID`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `extension_worker`
--

LOCK TABLES `extension_worker` WRITE;
/*!40000 ALTER TABLE `extension_worker` DISABLE KEYS */;
INSERT INTO `extension_worker` VALUES ('EW-NIN-001','Soil & Agronomy','R01'),('EW-NIN-002','Pest Management','R02'),('EW-NIN-003','Post-Harvest','R03');
/*!40000 ALTER TABLE `extension_worker` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_ew_role_check` BEFORE INSERT ON `extension_worker` FOR EACH ROW BEGIN

    DECLARE v_flag TINYINT(1);

    SELECT isExtWorker INTO v_flag FROM PERSON WHERE NIN = NEW.extWorkerNIN;

    IF v_flag != 1 THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Person does not have the EXTENSION_WORKER role set in PERSON.';

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `farm`
--

DROP TABLE IF EXISTS `farm`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `farm` (
  `farmID` varchar(15) NOT NULL,
  `farmerID` varchar(20) NOT NULL,
  `extWorkerNIN` varchar(20) NOT NULL,
  `regionID` varchar(10) NOT NULL,
  `districtID` varchar(10) NOT NULL,
  `subcountyID` varchar(10) NOT NULL,
  `coffeeID` varchar(10) NOT NULL,
  `verificationStatus` enum('PENDING','VERIFIED','REJECTED') DEFAULT 'PENDING',
  `regNo` varchar(30) NOT NULL DEFAULT '0',
  `landOwnership` enum('OWNED','LEASED','COMMUNAL') NOT NULL,
  `noOfBags` int DEFAULT '0',
  `noOfTrees` int DEFAULT '0',
  `farmSizeAcres` decimal(8,2) NOT NULL,
  PRIMARY KEY (`farmID`),
  KEY `fk_farm_ew` (`extWorkerNIN`),
  KEY `fk_farm_coffee` (`coffeeID`),
  KEY `idx_farm_region` (`regionID`),
  KEY `idx_farm_district` (`districtID`),
  KEY `idx_farm_subcounty` (`subcountyID`),
  KEY `idx_farm_farmer` (`farmerID`),
  CONSTRAINT `fk_farm_coffee` FOREIGN KEY (`coffeeID`) REFERENCES `coffee_type` (`coffeeID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_farm_district` FOREIGN KEY (`districtID`) REFERENCES `district` (`districtID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_farm_ew` FOREIGN KEY (`extWorkerNIN`) REFERENCES `extension_worker` (`extWorkerNIN`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_farm_farmer` FOREIGN KEY (`farmerID`) REFERENCES `farmer` (`farmerID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_farm_region` FOREIGN KEY (`regionID`) REFERENCES `region` (`regionID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_farm_sub` FOREIGN KEY (`subcountyID`) REFERENCES `subcounty` (`subcountyID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `farm_chk_1` CHECK ((`noOfBags` >= 0)),
  CONSTRAINT `farm_chk_2` CHECK ((`noOfTrees` > 0)),
  CONSTRAINT `farm_chk_3` CHECK ((`farmSizeAcres` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farm`
--

LOCK TABLES `farm` WRITE;
/*!40000 ALTER TABLE `farm` DISABLE KEYS */;
INSERT INTO `farm` VALUES ('FM001','FMR-001','EW-NIN-001','R01','D01','SC01','C02','VERIFIED','REG-001','OWNED',80,500,2.50),('FM002','FMR-002','EW-NIN-001','R01','D02','SC03','C01','VERIFIED','REG-002','LEASED',45,300,1.80),('FM003','FMR-003','EW-NIN-002','R02','D04','SC04','C02','VERIFIED','REG-003','OWNED',120,800,4.00),('FM004','FMR-004','EW-NIN-001','R01','D01','SC02','C03','PENDING','0','COMMUNAL',30,200,1.20),('FM005','FMR-005','EW-NIN-003','R03','D05','SC05','C01','VERIFIED','REG-005','OWNED',95,650,3.50);
/*!40000 ALTER TABLE `farm` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_update_region_production` AFTER UPDATE ON `farm` FOR EACH ROW BEGIN

    IF OLD.noOfBags != NEW.noOfBags THEN

        UPDATE REGION

        SET totalProduction = (

            SELECT COALESCE(SUM(noOfBags), 0)

            FROM FARM WHERE regionID = NEW.regionID

        )

        WHERE regionID = NEW.regionID;

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `farm_visit`
--

DROP TABLE IF EXISTS `farm_visit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `farm_visit` (
  `visitID` varchar(15) NOT NULL,
  `farmID` varchar(15) NOT NULL,
  `extWorkerNIN` varchar(20) NOT NULL,
  `pdID` varchar(10) DEFAULT NULL,
  `visitDate` date NOT NULL,
  `adviceGiven` text,
  PRIMARY KEY (`visitID`),
  KEY `fk_visit_ew` (`extWorkerNIN`),
  KEY `fk_visit_pd` (`pdID`),
  KEY `idx_visit_date` (`visitDate`),
  KEY `idx_visit_farm` (`farmID`),
  CONSTRAINT `fk_visit_ew` FOREIGN KEY (`extWorkerNIN`) REFERENCES `extension_worker` (`extWorkerNIN`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_visit_farm` FOREIGN KEY (`farmID`) REFERENCES `farm` (`farmID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_visit_pd` FOREIGN KEY (`pdID`) REFERENCES `pests_diseases` (`pdID`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farm_visit`
--

LOCK TABLES `farm_visit` WRITE;
/*!40000 ALTER TABLE `farm_visit` DISABLE KEYS */;
INSERT INTO `farm_visit` VALUES ('FV001','FM001','EW-NIN-001',NULL,'2025-03-10','Pruning and spacing advised. Farm in good condition.'),('FV002','FM003','EW-NIN-002','PD01','2025-03-15','Coffee Berry Borer found on eastern block. Applied Beauveria bassiana.'),('FV003','FM005','EW-NIN-003','PD02','2025-04-01','Leaf rust detected. Copper fungicide treatment recommended.');
/*!40000 ALTER TABLE `farm_visit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `farmer`
--

DROP TABLE IF EXISTS `farmer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `farmer` (
  `farmerID` varchar(20) NOT NULL,
  `farmerNIN` varchar(20) NOT NULL,
  PRIMARY KEY (`farmerID`),
  UNIQUE KEY `uq_farmer_nin` (`farmerNIN`),
  CONSTRAINT `fk_farmer_person` FOREIGN KEY (`farmerNIN`) REFERENCES `person` (`NIN`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farmer`
--

LOCK TABLES `farmer` WRITE;
/*!40000 ALTER TABLE `farmer` DISABLE KEYS */;
INSERT INTO `farmer` VALUES ('FMR-001','CF-NIN-001'),('FMR-002','CF-NIN-002'),('FMR-003','CF-NIN-003'),('FMR-004','CF-NIN-004'),('FMR-005','CF-NIN-005');
/*!40000 ALTER TABLE `farmer` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_farmer_role_check` BEFORE INSERT ON `farmer` FOR EACH ROW BEGIN

    DECLARE v_flag TINYINT(1);

    SELECT isFarmer INTO v_flag FROM PERSON WHERE NIN = NEW.farmerNIN;

    IF v_flag != 1 THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Person does not have the FARMER role set in PERSON.';

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `person`
--

DROP TABLE IF EXISTS `person`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `person` (
  `NIN` varchar(20) NOT NULL,
  `pe_name` varchar(100) NOT NULL,
  `phoneNumber` varchar(20) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `isFarmer` tinyint(1) NOT NULL DEFAULT '0',
  `isExtWorker` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`NIN`),
  UNIQUE KEY `uq_person_phone` (`phoneNumber`),
  CONSTRAINT `chk_at_least_one_role` CHECK (((`isFarmer` = 1) or (`isExtWorker` = 1))),
  CONSTRAINT `chk_phone_format` CHECK (regexp_like(`phoneNumber`,_utf8mb4'^[0-9+][0-9 \\-]{6,18}$'))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `person`
--

LOCK TABLES `person` WRITE;
/*!40000 ALTER TABLE `person` DISABLE KEYS */;
INSERT INTO `person` VALUES ('CF-NIN-001','Mugisha John','0704100001','mugisha.j@gmail.com',1,0),('CF-NIN-002','Apio Grace','0714100002',NULL,1,0),('CF-NIN-003','Ssekandi Peter','0724100003','ssekandi@yahoo.com',1,0),('CF-NIN-004','Namukasa Annet','0734100004',NULL,1,0),('CF-NIN-005','Byamukama Daniel','0744100005','byamukama@gmail.com',1,0),('EW-NIN-001','Nakato Sarah','0772100001','nakato.sarah@maaif.go.ug',0,1),('EW-NIN-002','Opio James','0752100002','opio.james@maaif.go.ug',0,1),('EW-NIN-003','Tumwine Robert','0782100003','tumwine.robert@maaif.go.ug',0,1);
/*!40000 ALTER TABLE `person` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pests_diseases`
--

DROP TABLE IF EXISTS `pests_diseases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pests_diseases` (
  `pdID` varchar(10) NOT NULL,
  `pd_name` varchar(100) NOT NULL,
  `pd_type` enum('PEST','DISEASE') NOT NULL,
  `control` text,
  PRIMARY KEY (`pdID`),
  UNIQUE KEY `uq_pd_name` (`pd_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pests_diseases`
--

LOCK TABLES `pests_diseases` WRITE;
/*!40000 ALTER TABLE `pests_diseases` DISABLE KEYS */;
INSERT INTO `pests_diseases` VALUES ('PD00','Null','PEST','Null'),('PD01','Coffee Berry Borer','PEST','Use Beauveria bassiana spray; strip affected berries'),('PD02','Coffee Leaf Rust','DISEASE','Apply copper-based fungicide; prune infected branches'),('PD03','Coffee Wilt Disease','DISEASE','Uproot and destroy; replant resistant varieties'),('PD04','Antestia Bug','PEST','Apply pyrethroid insecticide early morning');
/*!40000 ALTER TABLE `pests_diseases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `region`
--

DROP TABLE IF EXISTS `region`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `region` (
  `regionID` varchar(10) NOT NULL,
  `re_name` varchar(100) NOT NULL,
  `totalProduction` int DEFAULT '0',
  PRIMARY KEY (`regionID`),
  CONSTRAINT `region_chk_1` CHECK ((`totalProduction` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `region`
--

LOCK TABLES `region` WRITE;
/*!40000 ALTER TABLE `region` DISABLE KEYS */;
INSERT INTO `region` VALUES ('R01','Central',155),('R02','Western',120),('R03','Eastern',95),('R04','Northern',0);
/*!40000 ALTER TABLE `region` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subcounty`
--

DROP TABLE IF EXISTS `subcounty`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subcounty` (
  `subcountyID` varchar(10) NOT NULL,
  `su_name` varchar(100) NOT NULL,
  `districtID` varchar(10) NOT NULL,
  PRIMARY KEY (`subcountyID`),
  KEY `fk_sub_district` (`districtID`),
  CONSTRAINT `fk_sub_district` FOREIGN KEY (`districtID`) REFERENCES `district` (`districtID`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subcounty`
--

LOCK TABLES `subcounty` WRITE;
/*!40000 ALTER TABLE `subcounty` DISABLE KEYS */;
INSERT INTO `subcounty` VALUES ('SC01','Ntenjeru','D01'),('SC02','Kyampisi','D01'),('SC03','Kakiri','D02'),('SC04','Kashari','D04'),('SC05','Bufumbo','D05');
/*!40000 ALTER TABLE `subcounty` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `support_distribution`
--

DROP TABLE IF EXISTS `support_distribution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `support_distribution` (
  `distributionID` varchar(15) NOT NULL,
  `supportID` varchar(10) NOT NULL,
  `farmID` varchar(15) NOT NULL,
  `quantity` int NOT NULL,
  `distributionDate` date NOT NULL,
  PRIMARY KEY (`distributionID`),
  KEY `fk_dist_supp` (`supportID`),
  KEY `fk_dist_farm` (`farmID`),
  KEY `idx_dist_date` (`distributionDate`),
  CONSTRAINT `fk_dist_farm` FOREIGN KEY (`farmID`) REFERENCES `farm` (`farmID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_dist_supp` FOREIGN KEY (`supportID`) REFERENCES `support_type` (`supportID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `support_distribution_chk_1` CHECK ((`quantity` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `support_distribution`
--

LOCK TABLES `support_distribution` WRITE;
/*!40000 ALTER TABLE `support_distribution` DISABLE KEYS */;
INSERT INTO `support_distribution` VALUES ('SD001','S01','FM001',200,'2025-02-01'),('SD002','S02','FM003',150,'2025-02-15'),('SD003','S01','FM005',180,'2025-03-01'),('SD004','S03','FM002',50,'2025-03-20');
/*!40000 ALTER TABLE `support_distribution` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_no_double_dip` BEFORE INSERT ON `support_distribution` FOR EACH ROW BEGIN

    DECLARE v_total INT DEFAULT 0;

    DECLARE v_quota INT DEFAULT 500;



    SELECT COALESCE(SUM(quantity), 0) INTO v_total

    FROM SUPPORT_DISTRIBUTION

    WHERE farmID    = NEW.farmID

      AND supportID = NEW.supportID

      AND YEAR(distributionDate)  = YEAR(NEW.distributionDate)

      AND MONTH(distributionDate) = MONTH(NEW.distributionDate);



    IF (v_total + NEW.quantity) > v_quota THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Double-dip violation: monthly quota exceeded for this farm and support type.';

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_inventory_check` BEFORE INSERT ON `support_distribution` FOR EACH ROW BEGIN

    DECLARE v_available INT DEFAULT 0;

    SELECT quantityAvailable INTO v_available

    FROM SUPPORT_TYPE WHERE supportID = NEW.supportID;



    IF v_available < NEW.quantity THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Insufficient inventory: quantity exceeds available stock.';

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_update_inventory` AFTER INSERT ON `support_distribution` FOR EACH ROW BEGIN

    UPDATE SUPPORT_TYPE

    SET quantityAvailable = quantityAvailable - NEW.quantity

    WHERE supportID = NEW.supportID;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `support_type`
--

DROP TABLE IF EXISTS `support_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `support_type` (
  `supportID` varchar(10) NOT NULL,
  `st_type` varchar(100) NOT NULL,
  `quantityAvailable` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`supportID`),
  UNIQUE KEY `uq_support_type` (`st_type`),
  CONSTRAINT `support_type_chk_1` CHECK ((`quantityAvailable` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `support_type`
--

LOCK TABLES `support_type` WRITE;
/*!40000 ALTER TABLE `support_type` DISABLE KEYS */;
INSERT INTO `support_type` VALUES ('S01','Coffee Seedlings',4620),('S02','Fertiliser (NPK)',2850),('S03','Pesticide',1950),('S04','Training',999),('S05','Infrastructure',100);
/*!40000 ALTER TABLE `support_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `visit_request`
--

DROP TABLE IF EXISTS `visit_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `visit_request` (
  `requestID` varchar(15) NOT NULL,
  `farmerID` varchar(20) NOT NULL,
  `farmID` varchar(15) NOT NULL,
  `requestDate` date NOT NULL,
  `vr_status` enum('PENDING','ASSIGNED','COMPLETED','CANCELLED') DEFAULT 'PENDING',
  PRIMARY KEY (`requestID`),
  KEY `fk_req_farmer` (`farmerID`),
  KEY `fk_req_farm` (`farmID`),
  KEY `idx_req_status` (`vr_status`),
  CONSTRAINT `fk_req_farm` FOREIGN KEY (`farmID`) REFERENCES `farm` (`farmID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_req_farmer` FOREIGN KEY (`farmerID`) REFERENCES `farmer` (`farmerID`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `visit_request`
--

LOCK TABLES `visit_request` WRITE;
/*!40000 ALTER TABLE `visit_request` DISABLE KEYS */;
INSERT INTO `visit_request` VALUES ('VR001','FMR-004','FM004','2025-04-10','PENDING'),('VR002','FMR-002','FM002','2025-04-12','ASSIGNED');
/*!40000 ALTER TABLE `visit_request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_distribution_history`
--

DROP TABLE IF EXISTS `vw_distribution_history`;
/*!50001 DROP VIEW IF EXISTS `vw_distribution_history`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_distribution_history` AS SELECT 
 1 AS `distributionID`,
 1 AS `farmID`,
 1 AS `farmerName`,
 1 AS `supportType`,
 1 AS `quantity`,
 1 AS `distributionDate`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_ext_worker_directory`
--

DROP TABLE IF EXISTS `vw_ext_worker_directory`;
/*!50001 DROP VIEW IF EXISTS `vw_ext_worker_directory`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_ext_worker_directory` AS SELECT 
 1 AS `extWorkerNIN`,
 1 AS `pe_name`,
 1 AS `phoneNumber`,
 1 AS `specialty`,
 1 AS `assignedRegion`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_farmer_directory`
--

DROP TABLE IF EXISTS `vw_farmer_directory`;
/*!50001 DROP VIEW IF EXISTS `vw_farmer_directory`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_farmer_directory` AS SELECT 
 1 AS `farmerID`,
 1 AS `farmerNIN`,
 1 AS `pe_name`,
 1 AS `phoneNumber`,
 1 AS `maskedEmail`,
 1 AS `farmID`,
 1 AS `regionID`,
 1 AS `districtID`,
 1 AS `subcountyID`,
 1 AS `verificationStatus`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_inventory_status`
--

DROP TABLE IF EXISTS `vw_inventory_status`;
/*!50001 DROP VIEW IF EXISTS `vw_inventory_status`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_inventory_status` AS SELECT 
 1 AS `supportID`,
 1 AS `st_type`,
 1 AS `quantityAvailable`,
 1 AS `totalDistributed`,
 1 AS `originalStock`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_pending_requests`
--

DROP TABLE IF EXISTS `vw_pending_requests`;
/*!50001 DROP VIEW IF EXISTS `vw_pending_requests`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_pending_requests` AS SELECT 
 1 AS `requestID`,
 1 AS `farmerName`,
 1 AS `farmerPhone`,
 1 AS `farmID`,
 1 AS `regionName`,
 1 AS `requestDate`,
 1 AS `vr_status`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_production_by_region`
--

DROP TABLE IF EXISTS `vw_production_by_region`;
/*!50001 DROP VIEW IF EXISTS `vw_production_by_region`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_production_by_region` AS SELECT 
 1 AS `regionID`,
 1 AS `regionName`,
 1 AS `totalFarms`,
 1 AS `totalTrees`,
 1 AS `totalBagsHarvested`,
 1 AS `estimatedYieldKg`,
 1 AS `avgBagsPerFarm`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_region_performance`
--

DROP TABLE IF EXISTS `vw_region_performance`;
/*!50001 DROP VIEW IF EXISTS `vw_region_performance`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_region_performance` AS SELECT 
 1 AS `regionID`,
 1 AS `regionName`,
 1 AS `totalBagsHarvested`,
 1 AS `estimatedYieldKg`,
 1 AS `nationalAvg`,
 1 AS `performanceStatus`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_distribution_history`
--

/*!50001 DROP VIEW IF EXISTS `vw_distribution_history`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_distribution_history` AS select `sd`.`distributionID` AS `distributionID`,`sd`.`farmID` AS `farmID`,`p`.`pe_name` AS `farmerName`,`st`.`st_type` AS `supportType`,`sd`.`quantity` AS `quantity`,`sd`.`distributionDate` AS `distributionDate` from ((((`support_distribution` `sd` join `farm` `f` on((`sd`.`farmID` = `f`.`farmID`))) join `farmer` `fr` on((`f`.`farmerID` = `fr`.`farmerID`))) join `person` `p` on((`fr`.`farmerNIN` = `p`.`NIN`))) join `support_type` `st` on((`sd`.`supportID` = `st`.`supportID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_ext_worker_directory`
--

/*!50001 DROP VIEW IF EXISTS `vw_ext_worker_directory`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_ext_worker_directory` AS select `ew`.`extWorkerNIN` AS `extWorkerNIN`,`p`.`pe_name` AS `pe_name`,`p`.`phoneNumber` AS `phoneNumber`,`ew`.`specialty` AS `specialty`,`r`.`re_name` AS `assignedRegion` from ((`extension_worker` `ew` join `person` `p` on((`ew`.`extWorkerNIN` = `p`.`NIN`))) join `region` `r` on((`ew`.`regionID` = `r`.`regionID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_farmer_directory`
--

/*!50001 DROP VIEW IF EXISTS `vw_farmer_directory`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_farmer_directory` AS select `f`.`farmerID` AS `farmerID`,`f`.`farmerNIN` AS `farmerNIN`,`p`.`pe_name` AS `pe_name`,`p`.`phoneNumber` AS `phoneNumber`,concat(left(`p`.`email`,3),'***@***') AS `maskedEmail`,`fa`.`farmID` AS `farmID`,`fa`.`regionID` AS `regionID`,`fa`.`districtID` AS `districtID`,`fa`.`subcountyID` AS `subcountyID`,`fa`.`verificationStatus` AS `verificationStatus` from ((`farmer` `f` join `person` `p` on((`f`.`farmerNIN` = `p`.`NIN`))) join `farm` `fa` on((`f`.`farmerID` = `fa`.`farmerID`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_inventory_status`
--

/*!50001 DROP VIEW IF EXISTS `vw_inventory_status`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_inventory_status` AS select `st`.`supportID` AS `supportID`,`st`.`st_type` AS `st_type`,`st`.`quantityAvailable` AS `quantityAvailable`,coalesce(sum(`sd`.`quantity`),0) AS `totalDistributed`,(`st`.`quantityAvailable` + coalesce(sum(`sd`.`quantity`),0)) AS `originalStock` from (`support_type` `st` left join `support_distribution` `sd` on((`st`.`supportID` = `sd`.`supportID`))) group by `st`.`supportID`,`st`.`st_type`,`st`.`quantityAvailable` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_pending_requests`
--

/*!50001 DROP VIEW IF EXISTS `vw_pending_requests`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_pending_requests` AS select `vr`.`requestID` AS `requestID`,`p`.`pe_name` AS `farmerName`,`p`.`phoneNumber` AS `farmerPhone`,`vr`.`farmID` AS `farmID`,`r`.`re_name` AS `regionName`,`vr`.`requestDate` AS `requestDate`,`vr`.`vr_status` AS `vr_status` from ((((`visit_request` `vr` join `farmer` `f` on((`vr`.`farmerID` = `f`.`farmerID`))) join `person` `p` on((`f`.`farmerNIN` = `p`.`NIN`))) join `farm` `fa` on((`vr`.`farmID` = `fa`.`farmID`))) join `region` `r` on((`fa`.`regionID` = `r`.`regionID`))) where (`vr`.`vr_status` = 'PENDING') */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_production_by_region`
--

/*!50001 DROP VIEW IF EXISTS `vw_production_by_region`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_production_by_region` AS select `r`.`regionID` AS `regionID`,`r`.`re_name` AS `regionName`,count(distinct `f`.`farmID`) AS `totalFarms`,sum(`f`.`noOfTrees`) AS `totalTrees`,sum(`f`.`noOfBags`) AS `totalBagsHarvested`,round((sum(`f`.`noOfTrees`) * 0.5),2) AS `estimatedYieldKg`,avg(`f`.`noOfBags`) AS `avgBagsPerFarm` from (`region` `r` left join `farm` `f` on((`r`.`regionID` = `f`.`regionID`))) group by `r`.`regionID`,`r`.`re_name` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_region_performance`
--

/*!50001 DROP VIEW IF EXISTS `vw_region_performance`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_region_performance` AS select `vw_production_by_region`.`regionID` AS `regionID`,`vw_production_by_region`.`regionName` AS `regionName`,`vw_production_by_region`.`totalBagsHarvested` AS `totalBagsHarvested`,`vw_production_by_region`.`estimatedYieldKg` AS `estimatedYieldKg`,avg(`vw_production_by_region`.`totalBagsHarvested`) OVER ()  AS `nationalAvg`,(case when (`vw_production_by_region`.`totalBagsHarvested` > avg(`vw_production_by_region`.`totalBagsHarvested`) OVER () ) then 'OVER-PERFORMING' when (`vw_production_by_region`.`totalBagsHarvested` < avg(`vw_production_by_region`.`totalBagsHarvested`) OVER () ) then 'UNDER-PERFORMING' else 'ON-TARGET' end) AS `performanceStatus` from `vw_production_by_region` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-03  1:14:41
